.AppPDF {
  text-align: center;
}

.App-header {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100% !important;
}
.buttonPDF {
  padding: 2px;
  width: 120px;
  font-size: 16px;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
}
